
@mixin font-color-weight($color, $weight) {
    color: $color;
    font-weight: $weight;
}

@mixin font-color-size($color, $size) {
    color: $color;
    font-size: $size;
}

@mixin font-color-size-weight($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin font-size-weight($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin display-justify($display, $justify) {
    display: $display;
    justify-content: $justify;
}

@mixin display-align($display, $align) {
    display: $display;
    align-items: $align;
}

@mixin display-justify-align($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin top-left($top, $left) {
    top: $top;
    left: $left;
}

@mixin top-right($top, $right) {
    top: $top;
    right: $right;
}

@mixin top-right-left($top, $right, $left) {
    top: $top;
    right: $right;
    left: $left;
}

@mixin button($color) {
    color: $color;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 45px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

@mixin button-filled($color, $bg-color) {
    @include button($color);
    background-color: $bg-color;

    &:hover {
        background-color: #4d4d4f;
        color: $white;
    }
}