@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./variables";

@font-face {
    font-family: 'PantonFont';
    src: url('../assets/fonts/Panton-BlackCaps.woff2') format('woff2'),
        url('../assets/fonts/Panton-BlackCaps.woff') format('woff'),
        url('../assets/fonts/Panton-BlackCaps.ttf') format('truetype'),
        url('../assets/fonts/Panton-BlackCaps.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3 {
    font-family: 'PantonFont', sans-serif;
}

h1,
h2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width:767px) {
        font-size: 30px !important;
    }

}

h3 {
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width:767px) {
        font-size: 22px !important;
    }
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 21px 0 24px;

    @media (max-width:767px) {
        font-size: 18px !important;
    }
}

h6 {
    font-family: 'Inter', sans-serif;
    font-size: 20px !important;

    @media (max-width:767px) {
        font-size: 16px !important;
    }
}

p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.breadcrumb {
    background-color: transparent;
}

.pb-120 {
    padding-bottom: 70px;
}

.pt-120 {
    padding-top: 70px;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}