$primary-color:     #F4770B;
$grey:              #D9D9D9;
$grey1:             #BEBEBE;
$grey2:             #f5f5f5;
$ateneo-blue:       #084B66;
$blue-cola:         #009AE0;
$light-cyan:        #DFF5FF;
$azureish-white:    #D8E9F1;
$raisin-black:      #222222;
$davy-grey:         #595959;
$sonic-silver:      #797979;
$philippine-gray:   #919191;
$white:             #FFFFFF;

$container-width: 1580px;