/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "PantonFont";
  src: url("../assets/fonts/Panton-BlackCaps.woff2") format("woff2"), url("../assets/fonts/Panton-BlackCaps.woff") format("woff"), url("../assets/fonts/Panton-BlackCaps.ttf") format("truetype"), url("../assets/fonts/Panton-BlackCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "PantonFont", sans-serif;
}

h1,
h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 30px !important;
  }
}

h3 {
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 767px) {
  h3 {
    font-size: 22px !important;
  }
}

h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 21px 0 24px;
}
@media (max-width: 767px) {
  h5 {
    font-size: 18px !important;
  }
}

h6 {
  font-family: "Inter", sans-serif;
  font-size: 20px !important;
}
@media (max-width: 767px) {
  h6 {
    font-size: 16px !important;
  }
}

p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.breadcrumb {
  background-color: transparent;
}

.pb-120 {
  padding-bottom: 70px;
}

.pt-120 {
  padding-top: 70px;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
/* Header Styles Starts Here
*/
.header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background: #FFF;
  height: 72px;
}
@media (max-width: 991px) {
  .header .navbar-collapse {
    position: fixed;
    background-color: #FFF;
    width: 100%;
    top: 63px;
    left: 0;
    padding: 20px;
    z-index: 99;
  }
}
.header .logo {
  width: 130px;
  margin-right: 25px;
}
.header .logo img {
  width: 100%;
}
@media (max-width: 991px) {
  .header .type-account {
    flex-direction: row;
    margin-bottom: 20px;
  }
}
.header .type-account a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.header .type-account a:first-child {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #CCC;
}
.header .type-account a.active {
  color: #F4770B;
}
.header .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
  padding: 10px 35px;
}
.header .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}

/* Navigation Styles 
*/
.navigation {
  margin-right: 50px;
}
.navigation li {
  margin-right: 35px;
}
.navigation li:last-child {
  margin-right: 0;
}
.navigation li a {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 23px 0;
  position: relative;
}
@media (max-width: 991px) {
  .navigation li a {
    padding: 15px 0;
    width: auto;
    height: 100%;
  }
}
.navigation li:hover a, .navigation li.active a {
  color: #F4770B;
}
.navigation li:hover a::after, .navigation li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #F4770B;
  border-radius: 10px;
}

/* Header Styles Ends Here 
*/
/* Page Footer Styles Starts Here 
*/
.footer {
  padding: 100px 0;
  background-color: #D9D9D9;
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}
.footer a {
  color: #F4770B;
  font-weight: 700;
}
.footer a:hover {
  border-bottom: 1px solid #F4770B;
}
.footer form {
  width: 500px;
  margin: 0 auto 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .footer form {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer form .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
}
.footer form .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}
.footer select {
  width: 200px;
  background-color: #FFF;
  padding: 10px 20px;
  border-radius: 30px;
}
.footer .logo {
  width: 130px;
}
.footer .logo img {
  width: 100%;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .footer-top {
    flex-direction: column;
  }
}
.footer .divider {
  margin-bottom: 20px;
}
.footer .menu ul {
  display: flex;
  margin: 0;
}
@media (max-width: 767px) {
  .footer .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.footer .menu li {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .footer .menu li {
    margin-right: 0px;
    margin-top: 10px;
  }
}
.footer .menu li:last-child {
  margin-right: 0;
}
.footer .menu a {
  color: #000;
  font-weight: 500;
  border-bottom: none;
}
.footer .menu a:hover {
  color: #F4770B;
}
.footer p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.footer p:last-child {
  margin-bottom: 0;
}

/* Page Footer Styles Ends Here 
*/
.sub-title {
  color: #F4770B;
  font-weight: 700;
  margin: 0 5px;
}
@media (max-width: 767px) {
  .sub-title {
    margin: 0 0 10px;
  }
}

.icon {
  width: 60px;
  height: 60px;
  background-color: #FFEFE3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon svg {
  width: 36px;
  height: 35px;
  color: #F4770B;
}
.icon .icon-payments {
  width: 35px;
  height: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #E9E9E9;
}

/* Home Page Styles Starts Here 
*/
/* Banner Section
*/
.banner-section {
  background: #FCF3EC url(../assets/images/banner-globe.png) top 100px right no-repeat;
  position: relative;
  padding: 75px 0;
}
@media (max-width: 767px) {
  .banner-section {
    padding: 30px 0 75px 0;
  }
}
.banner-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}
.banner-section .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
}
.banner-section .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}
.banner-section .banner-content .description {
  font-size: 24px;
  margin-bottom: 30px;
}
.banner-section .selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #FFF;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}
@media (max-width: 767px) {
  .banner-section .selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.send-money {
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .send-money {
    width: 100%;
    margin-top: 20px;
  }
}
.send-money .currency-area {
  background-color: #FFEFE3;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .send-money .currency-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .send-money .currency-area .left-side {
    width: 100%;
  }
}
.send-money .currency-area .right-side {
  width: 55%;
}
@media (max-width: 767px) {
  .send-money .currency-area .right-side {
    width: 100%;
    margin-top: 20px;
  }
}
.send-money .currency-area strong {
  display: block;
  margin-bottom: 5px;
}
.send-money .currency-area input {
  border: none;
  width: 90%;
  border-radius: 10px;
}

.calculation {
  padding: 20px 10px;
}
.calculation .icon {
  width: 32px;
  height: 32px;
}
.calculation .icon-calculator {
  height: 16px !important;
}
.calculation .icon-minus {
  height: 4px !important;
}
.calculation .icon-equal {
  height: 9px !important;
}
.calculation .icon svg {
  width: 14px;
  height: 16px;
}
.calculation strong {
  color: #F4770B;
}
.calculation td {
  padding: 7px 0;
}

/* Counter Section Styles
*/
.counter-section {
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 2px 3.464px 24px 0 rgba(106, 105, 194, 0.25);
  position: relative;
  padding: 30px 50px;
  margin-top: -110px;
  margin-bottom: 20px;
  transform: translateZ(10px);
}
.counter-section .details {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .counter-section .details {
    flex-direction: column;
  }
}
.counter-section .single-area {
  text-align: center;
}
@media (max-width: 767px) {
  .counter-section .single-area {
    margin: 20px 0;
  }
}
.counter-section .single-area h2 {
  font-size: 54px;
}
.counter-section .single-area p {
  margin-bottom: 0;
  color: #F4770B;
  font-size: 18px;
}

/* Support Section Styles
*/
.support-section {
  border-radius: 20px;
  background-color: #404040;
  box-shadow: 2px 3.464px 24px 0 rgba(106, 105, 194, 0.25);
  position: relative;
  padding: 30px 50px;
  margin-top: -165px;
  margin-bottom: 50px;
  transform: translateZ(10px);
  color: #FFF;
}
@media (max-width: 767px) {
  .support-section {
    margin-top: -100px;
  }
}
.support-section .icon {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.support-section .icon svg {
  width: 100px;
  height: 100px;
}
.support-section a {
  font-weight: 200;
}
.support-section a:hover {
  color: #FFF;
}
.support-section h2 {
  font-size: 30px;
}
.support-section .des {
  color: #FFF;
  text-align: left;
  font-size: 18px;
  line-height: 130%;
  font-weight: 200;
}
.support-section .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
  padding: 10px 45px;
}
.support-section .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}

/* 
    Signup Section Styles 
*/
.signup .container {
  padding: 100px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .signup .container {
    padding: 50px 15px;
  }
}

/* solution section */
.global-payment .single-item {
  background-color: #FFF;
  border: 1px solid #bec8e5;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 40px 20px 33px;
  transition: 0.3s;
}
.global-payment .single-item:hover {
  box-shadow: 0 12px 24px rgba(106, 105, 194, 0.25);
  border-color: transparent;
}

/* solution section */
.how-it-works .cus-mar > div .single-item:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 104px;
  height: 15px;
  top: calc(35% - 20px);
  right: calc(-17% - 10px);
}
@media (max-width: 767px) {
  .how-it-works .cus-mar > div .single-item:after {
    display: none;
  }
}

.how-it-works .cus-mar > div:nth-child(odd):not(:last-child) .single-item:after {
  background-image: url(../assets/images/how-works-arrow-1.png);
}

.how-it-works .cus-mar > div:nth-child(2n):not(:last-child) .single-item:after {
  background-image: url(../assets/images/how-works-arrow-2.png);
  top: calc(30% - 20px);
}

/* Use Cases
*/
/* All Payment Section  
*/
.use-cases .single-item {
  border-radius: 20px;
  background-color: #FFF;
  text-align: center;
  padding: 20px 15px;
  margin-bottom: 20px;
  border: 1px solid #fff;
}
.use-cases .single-item:hover {
  box-shadow: none;
  border: 1px solid #F4770B;
}
.use-cases .single-item h5 {
  font-size: 16px;
  margin: 10px 0 0;
}
.use-cases .icon svg {
  width: 36px;
  height: 36px;
}

.bg-primary-light {
  background-color: #FFEFE3;
}

/* All Payment Section  
*/
.our-solutions {
  background: url(../assets/images/1.png) top no-repeat;
  background-size: auto;
}
.our-solutions .single-item {
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 40px 15px 33px;
  margin-bottom: 20px;
  border: 1px solid #fff;
}
.our-solutions .single-item:hover {
  box-shadow: none;
  border: 1px solid #bec8e5;
}

/* Testimonial Styles 
*/
.testimonials {
  padding-bottom: 70px;
}

.testimonial-carousel {
  padding-bottom: 35px;
}
.testimonial-carousel .icon-area {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}
.testimonial-carousel .slick-arrow {
  position: absolute;
  outline: none;
  bottom: 0;
  background: #FFF;
  width: 35px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 1;
  text-indent: -1000000px;
  cursor: pointer;
}
.testimonial-carousel button.slick-prev.slick-arrow {
  left: calc(50% - 85px);
}
.testimonial-carousel button.slick-prev.slick-arrow::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 22px;
  background: url('data:image/svg+xml;utf8,<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5757 1.42822L11.4917 0.344238C11.0327 -0.114746 10.2905 -0.114746 9.83643 0.344238L0.344238 9.83154C-0.114746 10.2905 -0.114746 11.0327 0.344238 11.4868L9.83643 20.979C10.2954 21.438 11.0376 21.438 11.4917 20.979L12.5757 19.895C13.0396 19.4312 13.0298 18.6743 12.5562 18.2202L6.67236 12.6147H30.7056C31.355 12.6147 31.8774 12.0923 31.8774 11.4429V9.88037C31.8774 9.23096 31.355 8.7085 30.7056 8.7085H6.67236L12.5562 3.10303C13.0347 2.64893 13.0444 1.89209 12.5757 1.42822Z" fill="%23F4770B"/></svg>') no-repeat;
  z-index: -1;
}
.testimonial-carousel button.slick-next.slick-arrow {
  right: calc(50% - 85px);
}
.testimonial-carousel button.slick-next.slick-arrow::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 22px;
  background: url('data:image/svg+xml;utf8,<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.3018 1.42822L20.3857 0.344238C20.8447 -0.114746 21.5869 -0.114746 22.041 0.344238L31.5332 9.83154C31.9922 10.2905 31.9922 11.0327 31.5332 11.4868L22.041 20.979C21.582 21.438 20.8398 21.438 20.3857 20.979L19.3018 19.895C18.8379 19.4312 18.8477 18.6743 19.3213 18.2202L25.2051 12.6147H1.17188C0.522461 12.6147 0 12.0923 0 11.4429V9.88037C0 9.23096 0.522461 8.7085 1.17188 8.7085H25.2051L19.3213 3.10303C18.8428 2.64893 18.833 1.89209 19.3018 1.42822Z" fill="%23F4770B"/></svg>') no-repeat;
  z-index: -1;
}
.testimonial-carousel .item {
  margin: 0px 10px;
}
.testimonial-carousel .item .item-wrap {
  padding: 40px;
  border-radius: 10px;
  margin: 30px 0px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.testimonial-carousel .item .profile-area {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .testimonial-carousel .item .profile-area {
    flex-direction: column-reverse;
  }
}
.testimonial-carousel .item h5 {
  margin: 0;
}
.testimonial-carousel .item p {
  margin: 0;
}

/*  [ Innerpage Styles Starts Here ] 
*/
.innerpage-banner {
  background: #FFF url(../assets/images/innerpage-banner.png) left top no-repeat;
  background-size: contain;
  height: 335px;
}
@media (max-width: 767px) {
  .innerpage-banner {
    background-size: cover;
  }
}
.innerpage-banner .container,
.innerpage-banner .banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #FFF;
  text-align: center;
}
.innerpage-banner .title {
  font-size: 72px;
}
.innerpage-banner .breadcrumb {
  font-size: 18px;
  align-items: center;
  text-transform: capitalize;
}
.innerpage-banner .breadcrumb a {
  color: #FFF;
  margin-right: 20px;
  position: relative;
  display: inline-block;
}
.innerpage-banner .breadcrumb a::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 50%;
  background-color: #FFF;
  bottom: 9px;
  margin-left: 6px;
}

.innerpage-content .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section-header {
  text-align: center;
}
.section-header .sub-title {
  color: #F4770B;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.section-header p {
  line-height: 130%;
  font-size: 18px;
}
.section-header .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
  padding: 15px 35px;
}
.section-header .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}

/* 
    About Page Styles 
*/
.about-banner {
  background-image: url(../assets/images/2.png);
  min-height: 700px;
  background-size: cover;
}
@media (max-width: 767px) {
  .about-banner {
    min-height: 400px;
  }
}

.about-banner-lg-image {
  margin-top: -300px;
}
@media (max-width: 767px) {
  .about-banner-lg-image {
    margin-top: -100px;
  }
}

.oddeven-row .row:nth-child(even) {
  flex-direction: row-reverse;
}

.innerdiv {
  margin: 10px 0 20px 0;
}

/* 
    Send Money Page Styles 
*/
.sendMoney .container {
  border-radius: 30px;
  background: #FFEFE3;
  padding: 100px;
  position: relative;
}
@media (max-width: 767px) {
  .sendMoney .container {
    padding: 100px 30px;
  }
}
.sendMoney .container::before {
  content: "";
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  top: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid #F4770B;
}
@media (max-width: 767px) {
  .sendMoney .container::before {
    width: calc(100% - 30px);
    height: calc(100% - 45px);
    top: 30px;
  }
}
.sendMoney .left-side input {
  border-radius: 10px;
  border: 1px solid #FFEFE3;
  background: #FFF;
  height: 60px;
}
.sendMoney .calculation .icon {
  background-color: #FFF;
}
.sendMoney .currency-convert {
  border-radius: 10px;
  background: #FFF;
  padding: 40px;
}
@media (max-width: 767px) {
  .sendMoney .currency-convert {
    margin: 20px 0px;
    padding: 15px;
  }
}
.sendMoney .absbtn {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 17px;
}
.sendMoney .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
  padding: 15px 45px;
  font-size: 18px;
}
.sendMoney .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}

/* 
    FAQs Page Styles 
*/
.card-header {
  margin-bottom: 0;
  padding: 0;
}

.faqs-section .cus-mar .title {
  color: #F4770B;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.faqs-section .accordion .card {
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}
.faqs-section .accordion .card .accordion-collapse {
  border-top: 1px solid #F4770B;
}
.faqs-section .accordion .card .accordion-collapse .card-body {
  padding: 20px 30px;
}
.faqs-section .accordion .card .accordion-button {
  padding: 17px 30px;
  border-radius: 10px;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: inherit;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.faqs-section .accordion .card .accordion-button:before {
  content: "";
  position: absolute;
  right: 25px;
  width: 30px;
  height: 30px;
  background: #f7f6ff;
  border-radius: 50%;
}
.faqs-section .accordion .card .accordion-button:after {
  content: "";
  position: absolute;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  background: url(../assets/images/minus.svg) no-repeat;
  background-size: 36px;
  top: 9px;
  right: 15px;
  transition: all 0.3s ease;
}
.faqs-section .accordion .card .accordion-button.collapsed:after {
  content: "";
  top: 9px;
  right: 15px;
  width: 36px;
  height: 36px;
  background: url(../assets/images/plus.svg) no-repeat;
  background-size: 36px;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}

/* 
    Contact Page Styles 
*/
.innerpage-banner.contact-banner {
  background: #FFF url(../assets/images/2.png) left top no-repeat;
  background-size: cover;
  height: 500px;
}
@media (max-width: 767px) {
  .innerpage-banner.contact-banner {
    height: 292px;
  }
}

.contact-cols {
  display: flex;
  align-items: center;
}

.contact-form label {
  font-weight: 700;
}
.contact-form .form-control {
  border-radius: 8px;
  height: 50px;
}
.contact-form #message {
  height: 150px;
}
.contact-form .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
  padding: 10px 35px;
}
.contact-form .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}

.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
  background-image: url(../assets/images/2.png);
}
.contact-info__wrapper .title {
  font-size: 42px;
}

.contact-info__list span.position-absolute {
  left: 0;
}
.contact-info__list li {
  color: #FFF;
  font-size: 18px;
  display: block;
}
.contact-info__list li i {
  color: #FFF;
}

.z-index-101 {
  z-index: 101;
}

.list-style--none {
  list-style: none;
}

.contact__wrapper {
  background-color: #FFF;
  border-radius: 0 0 0.625rem 0.625rem;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 5rem !important;
  }
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
  .contact-form__wrapper {
    padding: 5rem !important;
  }
}
/*  [ Disclaimer, Laundering Statement & Privacy Policy Pages Styles Starts Here ] 
*/
.contact-section {
  text-align: center;
}
.contact-section .title {
  font-size: 42px;
  margin-bottom: 5px;
}
.contact-section p {
  line-height: 130%;
  font-size: 18px;
}
.contact-section a {
  color: #F4770B;
}
.contact-section a:hover {
  color: #000;
}
.contact-section .button-filled {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  background-color: #F4770B;
  padding: 15px 35px;
}
.contact-section .button-filled:hover {
  background-color: #4d4d4f;
  color: #FFF;
}

.privacy-policy article,
.disclaimer article {
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.privacy-policy article h3,
.disclaimer article h3 {
  color: #F4770B;
  font-size: 24px;
  margin-bottom: 20px;
}
.privacy-policy article a,
.disclaimer article a {
  color: #F4770B;
}
.privacy-policy article a:hover,
.disclaimer article a:hover {
  color: #000;
}
.privacy-policy article li,
.disclaimer article li {
  list-style-type: disc;
  margin-bottom: 15px;
}

.wrapper {
  width: 100%;
}

.select-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.content {
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #FFF;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper.active .content {
  display: block;
  position: absolute;
}

.content .search {
  position: relative;
}

.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.search input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}

.search input:focus {
  padding-left: 42px;
  border: 2px solid #4285f4;
}

.search input::-moz-placeholder {
  color: #bfbfbf;
}

.search input::placeholder {
  color: #bfbfbf;
}

.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.options li {
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}

.options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.staticshowcountry {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.staticshowcountry img {
  margin-right: 10px;
}

/* 
    Country dropdown Styles
*/
.dropdown {
  width: 100%;
  position: relative;
}

footer .dropdown {
  width: 58%;
}
@media (max-width: 767px) {
  footer .dropdown {
    width: 100%;
    margin-bottom: 20px;
  }
}

.dropdown__options--visible .dropdown__skeleton {
  box-shadow: 0 11px 12px -5px #dbe0f5;
}

.dropdown__options--visible .dropdown__options {
  animation: showit 0.35s forwards ease-out;
}

.dropdown__options--visible .dropdown__arrow {
  transform: rotate(-180deg);
  right: 12px;
}

.dropdown__skeleton {
  background-color: #fff;
  border-radius: 30px;
  padding: 14px 20px;
  position: relative;
  transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.dropdown__skeleton label {
  font-weight: 700;
  text-transform: uppercase;
  color: #9297ab;
  font-size: 0.8rem;
  letter-spacing: 0.64px;
  margin-bottom: 8px;
  display: block;
  cursor: pointer;
}

.dropdown__option {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  overflow: hidden;
}
.dropdown__option img {
  max-width: 26px;
  display: block;
}
.dropdown__option span {
  margin-left: 10px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.dropdown__arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  transform-origin: top;
}
.dropdown__arrow::before, .dropdown__arrow::after {
  --angle: 45deg;
  content: "";
  width: 15px;
  background-color: #5e6582;
  display: block;
  padding: 1px;
  border-radius: 2px;
  position: absolute;
}
.dropdown__arrow::before {
  transform: rotate(var(--angle));
}
.dropdown__arrow::after {
  transform: rotate(calc(var(--angle) * -1));
  margin-left: 9px;
}

.dropdown__options {
  position: absolute;
  top: 90%;
  right: 13px;
  border: 2px solid #dbe0f5;
  border-radius: 5px;
  padding: 20px 10px;
  background-color: #fff;
  width: 280px;
  transform: scale(0);
  z-index: 1;
}
.dropdown__options::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 3px);
  right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-top: 2px solid #dbe0f5;
  border-left: 2px solid #dbe0f5;
  transform: rotate(45deg);
}
.dropdown__options .dropdown__option {
  padding: 6px 10px;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 5px;
}
.dropdown__options .dropdown__option:not(:last-child) {
  margin-bottom: 15px;
}
.dropdown__options .dropdown__option:hover {
  background-color: #eee;
  opacity: 1;
}
.dropdown__options .dropdown__option--selected {
  opacity: 1;
}

@keyframes showit {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=styles.css.map */